.row
  %h1 #{link_to @user.nickname, @user}'s blogs

.row
  %table.table
    %thead
      %tr
        %th Date
        %th Title

    %tbody
      - @blogs.each do |blog|
        %tr
          %td= blog.created_at.to_date
          %td
            = blog.draft_label
            = link_to blog.title, blog
            - blog.tags.each do |tag|
              = link_to tag.name, tag, class: 'btn btn-default btn-xs'

.row
  = paginate @blogs
