- method = blog_contribution.blog.new_record? ? :post : :patch
= form_for blog_contribution, url: blog_contribution.blog, method: method do |f|
  .row
    = render 'common_form/error_explanation', errors: blog_contribution.errors

  .field.form-group.row
    = f.label :title, class: 'col-2 col-form-label'
    .col-10
      = f.text_field :title, type: 'text', class: 'form-control'
  .field.form-group.row
    = f.label :body, class: 'col-2 col-form-label'
    .col-10
      = f.text_area :body, rows: 15, class: 'form-control'
  .field.form-group.row
    = f.label :tags_string, class: 'col-2 col-form-label'
    .col-10
      = f.text_field :tags_string, type: 'text', class: 'form-control'
  .field.form-group.row
    = f.label :status, class: 'col-2 col-form-label'
    .col-10
      = f.select :status, Blog.statuses.keys, {}, class: 'form-control'

  .row
    .actions
      = f.submit 'Save', class: 'btn btn-primary'
