= form_for @blog do |f|
  - if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |message|
          %li= message

  .field.form-group.row
    = f.label :title, class: 'col-2 col-form-label'
    .col-10
      = f.text_field :title, type: 'text', class: 'form-control'
  .field.form-group.row
    = f.label :body, class: 'col-2 col-form-label'
    .col-10
      = f.text_area :body, rows: 5, class: 'form-control'
  .field.form-group.row
    = f.label :status, class: 'col-2 col-form-label'
    .col-10
      = f.select :status, Blog.statuses.keys, {}, class: 'form-control'

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
