.row
  .panel.panel-default
    .panel-body
      %h1
        = @blog.title

      = markdown_to_html @blog.body

      %p
        = @blog.status

      %p
        - @blog.tags.each do |tag|
          = link_to tag.name, tag, class: 'btn btn-sm btn-default'

      %p
        Written by
        = link_to @blog.author.nickname, user_path(@blog.author)

  - if @blog.editable?(current_user)
    = link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary'
    \|
    = link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }
    \|
  = link_to 'Back', blogs_path
