.row
  .col-12
    %h1 My blogs

.row
  .col-12
    %table.table
      %thead
        %tr
          %th Date
          %th Title

      %tbody
        - @blogs.each do |blog|
          %tr
            %td= blog.created_at.to_date
            %td
              = blog.draft_label
              = link_to blog.title, my_blog_path(blog)
              - blog.tags.each do |tag|
                %a.badge.badge-light{ href: tag_path(tag) }= tag.name
            %td
              %a.btn.btn-primary.btn-sm{ href: "#{edit_my_blog_path(blog)}" }Edit
              %a.btn.btn-outline-danger.btn-sm{ href: "#{my_blog_path(blog)}", data: { method: :delete, confirm: 'Are you sure?' } } Destroy
.row
  .col-12
    = paginate @blogs
