%p#notice= notice

%h1.card-title
  %img.img-thumbnail{src: @user.icon_url}
  = @user.nickname

.card
  .card-block
    = simple_format @user.introduction

= render 'heatmap'

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
