%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  -#
    %button.navbar-toggler.navbar-toggler-right{aria: {controls: 'navbarNav', expanded: false, label: 'Toggle navigation'}, data: {target: '#navbarNav', toggle: 'collapse'}, type: 'button'}
      %span.navbar-toggler-icon
  = link_to 'Mini Blog', root_path, class: 'navbar-brand'
  %ul.nav
    - if user_signed_in?
      %li.nav-item.dropdown
        %span.nav-link.dropdown-toggle#navbarDropdownMenuLink{href: '#', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
          %img{src: current_user.icon_url}
          = current_user.nickname
        .dropdown-menu{aria: {labelledby: 'navbarDropdownMenuLink'}}
          = link_to 'Profile', current_user, class: 'dropdown-item'
          = link_to 'My Blogs', user_blogs_path(current_user), class: 'dropdown-item'
          = link_to 'Sign Out', signout_path, class: 'dropdown-item'
    - else
      %li.nav-item
        = link_to 'Sign In', '/auth/google_oauth2'
